---
layout: default
---

{{ content }}
total {{ site.posts.size }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->
{%- if site.posts.size > 0 -%}

    {%- for post in site.posts -%}

        {% assign date_format = "%b  %d %H:%M" %}
        -rw-r--r-- 1 mshahab root {{post.size}} {{ post.date | date: date_format }} <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>

    {%- endfor -%}

{%- endif -%}